// Couleurs
$primary-color: #02838F;
$secondary-color: #d7eaec;

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
    padding: 20px;

    h2 {
        display: flex;
        align-items: center;
        background-color: $primary-color;
        font-size: 2em;
        max-height: 20px;
        color: white;
        padding: 16px;
        font-weight: 400;
        border-radius: 14px;
        margin-bottom: 20px;
    }

    .number-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 40px;

        .first-box,
        .second-box {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            border: 2px solid $primary-color;
            min-height: 60px;
            padding: 10px;
            border-radius: 8px;
            width: 190px;
            text-align: center;

            p {
                margin: 0;
                font-size: 1.125em;

                &:last-child {
                    margin-top: 6px;
                    font-weight: bold;
                    font-size: 1.875em;
                }
            }
        }
    }

  .tooltip-caret.position-bottom {
    border-bottom-color: $primary-color !important;
  }
}


@media (max-width: 768px) {
    h2 {
        font-size: 1.5em;
        min-height: 50px;
    }

    .number-container {
        gap: 20px;
    }

    .first-box,
    .second-box {
        width: 100%;
        max-width: 300px;
    }

    .pie {
        display: flex;
        justify-content: center;
        flex-direction: row;
    }
}
