<div class="container">
    <h2>Medals per Country</h2>

    <div class="number-container">
        <div class="first-box">
            <p>Number of JOs</p>
            <p>{{ totalMedals }}</p>
        </div>
        <div class="second-box">
            <p>Number of countries</p>
            <p>{{ totalCountries }}</p>
        </div>
    </div>

    <div class="pie">
        <ngx-charts-pie-chart [results]="pieChartData" [scheme]="colorScheme" [legend]="false" [doughnut]="false"
            [labels]="true" [view]="view">
        </ngx-charts-pie-chart>
    </div>
</div>