<div class="container">
  <h2>Medals per Country</h2>

  <div class="number-container">
    <div class="first-box">
      <p>Number of JOs</p>
      <p>{{ totalJO }}</p>
    </div>
    <div class="second-box">
      <p>Number of countries</p>
      <p>{{ totalCountries }}</p>
    </div>
  </div>

  <!-- Pie Chart -->
  <ngx-charts-pie-chart
    (select)="onSelect($event)"
    [doughnut]="false"
    [labels]="true"
    [legend]="false"
    [results]="pieChartData"
    [scheme]="colorScheme"
    [view]="view">
  </ngx-charts-pie-chart>
    <!--    [tooltipText]="customTooltipFormatter"-->

</div>
