.container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 20px;
  }
  
  .pie {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  ngx-charts-pie-chart {
    width: 700px;
    height: 400px;
  }
  