body {
  font-family: 'Montserrat', sans-serif;
}

ngx-tooltip-content.ngx-charts-tooltip-content {
  background-color: #02838F !important;
  color: white !important;
  padding: 16px;
  border-radius: 8px;
}

ngx-tooltip-content.ngx-charts-tooltip-content .tooltip-caret.position-top {
  border-top-color: #02838F !important;
}

ngx-tooltip-content.ngx-charts-tooltip-content .tooltip-caret.position-bottom {
  border-bottom-color: #02838F !important;
}

.tooltip {
  font-size: 15px;
  padding: 8px;

  .tooltip .country-name {
    font-size: 15px;
  }

  .tooltip .medal-count {
    font-size: 15px;
    margin-left: 4px;
  }
}
